<h1>Flickr</h1>
<ul>
  <% @images.each do |image| %>
    <div class="surround">

      <%= link_to image_tag(image.pic, style:"width:30%"), image_path(image) %><br />


      <%= image.caption %><br />
    </div>

    <% end %>
</ul>

<p><%= link_to "Add an image", new_image_path(@image) %></p>
