<h1>Flickr</h1>
<ul>
  <% @images.each do |image| %>

    <%= image_tag image.pic %>

    <%= link_to image_tag(image.pic), image_path(image) %>

    <br>
    <%= image.caption %>

  <% end %>
</ul>

<p><%= link_to "Add an image", new_image_path(@image) %></p>
