<h1>Flickr</h1>
<ul>
  <% @images.each do |image| %>
    <div class="surround">
      <div class="card center-card" style="width: 34rem;">
        <%= link_to image_tag(image.pic, style:"width: 300px;", class:"card-img-top"), image_path(image) %><br />
        <div class="card-body">
          <h5 class="card-title">User Name</h5>
          <p class="card-text"><%= image.caption %></p><br />
        </div>
      </div>
    </div>

    <% end %>
</ul>

<p><%= link_to "Add an image", new_image_path(@image) %></p>
